<div class="row">
    <div class="col-md-2">
        <h2>Inputs</h2>
        <form>
            <p>Emprunt : </p>
            <input class="form-control" ng-model="simulation.totalValue" placeholder="{{defaultTotalValue}}"/>
            <p>Taux hors assurance (%) : </p>
            <input class="form-control" ng-model="simulation.rate" placeholder="{{defaultRate}}"/>
            <!--
                Taux assurance (%) : <input class="form-control" ng-model="insuranceRate" placeholder="{{defaultInsuranceRate}}"/>
            -->
            <p>Durée (années) : </p>
            <input class="form-control" ng-model="simulation.years" placeholder="{{defaultYears}}"/>
            <p>Taux assurance : </p>
            <input class="form-control" ng-model="simulation.insuranceRate" placeholder="{{defaultInsuranceRate}}"/>
            <br/>
            <button class="btn btn-primary" ng-click="clickSimulate()">Simuler</button>
        </form>

    </div>
    <!--
    <div class="col-md-2">
        <h2> Résultats </h2>
        <p>Cout (assurance) : </p>
        <input class="form-control" value="{{simulation.loanCost}} (+{{simulation.insuranceCost}}={{simulation.totalCost}})" disabled/>
        <p>Mensualité : </p>
        <input class="form-control" value="{{simulation.monthlyRent}} (+{{simulation.monthlyInsurance}}={{simulation.monthlyTotalRent}})" disabled/>
    -->
        <!--<p>Cout moyen par mois : </p>
        <input class="form-control" value="{{simulation.monthlyCost}} (+{{simulation.monthlyInsurance}}={{simulation.monthlyTotalCost}})" disabled/>-->
        <!--
        <p>Ratio cout/emprunté (%) : </p>
        <input class="form-control" value="{{simulation.costRatio}} ({{simulation.totalRatio}})" disabled/>
    </div>
        -->
    <div class="col-md-10">
        <h2> Simulations </h2>
        <table class="table table-striped">
            <th>Emprunt</th>
            <th>Taux</th>
            <th>Durée</th>
            <th>Taux Assurance</th>
            <th>Coût (Assurance)</th>
            <th>Mensualité</th>
            <!--<th>Coût moyen par mois</th>-->
            <th>Ratio</th>
            <tr ng-repeat="s in simulations track by $index">
                <td>{{s.totalValue}}€</td>
                <td>{{s.rate}}</td>
                <td>{{s.years}}ans</td>
                <td>{{s.insuranceRate}}</td>
                <td>{{s.loanCost}}€ (+{{s.insuranceCost}}={{s.totalCost}})</td>
                <td>{{s.monthlyRent}}€ (+{{s.monthlyInsurance}}={{s.monthlyTotalRent}})</td>
                <!--<td>{{s.monthlyTotalCost}}€</td>-->
                <td>{{s.costRatio}}% ({{s.totalRatio}}%)</td>
            </tr>
        </table>

    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-2">
        <h2>Meilleurs taux actuels</h2>
        25 ans : {{todayRate[0]}}<br/>
        20 ans : {{todayRate[1]}}<br/>
        15 ans : {{todayRate[2]}}<br/>
        12 ans : {{todayRate[3]}}<br/>
        10 ans : {{todayRate[4]}}<br/>
        7 ans : {{todayRate[5]}}<br/>

        <h2>Source</h2>

        <p><a href="http://www.meilleurtaux.com/credit-immobilier/barometre-des-taux.html">Meilleurstaux.com</a></p>
    </div>

    <div class="col-md-10">
        <h2>Evolutions des taux</h2>
        <canvas id="line" class="chart chart-line" chart-data="data"
                                                   chart-labels="labels" chart-series="series" chart-options="options"
                                                                                               chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas> 
    </div>
</div>
</div>

