apiVersion: v1
kind: Service
metadata:
  namespace: hestia
  name: hestia-reactjs-service
spec:
  type: NodePort
  selector:
    app: hestia-reactjs
  ports:
      # By default and for convenience, the `targetPort` is set to the same value as the `port` field.
    - port: 80
      #targetPort: 80
      # Optional field
      # By default and for convenience, the Kubernetes control plane will allocate a port from a range (default: 30000-32767)
      nodePort: 30327
      
#this is equivalent to :
#kubectl expose deployment hestia-reactjs --type=NodePort --port 80
